* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Julius Sans One', sans-serif;
}
#home{
   
}
.topnav {
    border-bottom: 1px solid pink;
    list-style-type: none;
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: left;
}

.topright a {
    float: right;
}

.topnav li a {
    display: inline-block;
    padding: 16px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    cursor: pointer;
}

ul.topnav li a:hover {
    color: pink;
    background-color: white;
}

/** FORM LOGIN & SIGN UP **/


.formContent {
    position: relative;
    background-color: white;
    margin: auto;
    max-width: 400px;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.4);
}
.formLogin {
    
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.formSignUp {
    
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.headLogin {
    background-color: pink;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    overflow: auto;
}
.headLogin p{
    float: left;
}
.tenLogin {
    text-align: center;
    padding: 20px 30px 30px 30px;
}
.tenLogin p{
    padding: 20px 0 5px;
}
.tenLogin input{
    padding: 6px 0;
    border: 1px solid pink;
    width: 100%;
}
.tenLogin input[type=submit]{
    padding: 10px;
    background-color: pink;
    font-size: 16px;
    font-family: 'julius sans one';
    font-weight: bold;
    width: 100%;
    cursor: pointer;
        
}
.close {
    float: right;
}
.close:hover{
    cursor: pointer;
    color: hotpink;
    transition: .3s;
}
.ext {
    margin-top: 30px;
    font-size: 12px;
}
.ext button{
    border: none;
    font-family: 'julius sans one';
    font-size: 13px;
    color: hotpink;
    background-color: white;
    cursor: pointer;
}

/** KONTEN **/

.content {
    margin: auto;
    height: 1000px;
}
.content .isi {
    margin: auto;
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
}

.content .isi h2 {
    padding-top: 30px;
}

.content .isi a {
    padding: 10px;
}

.content .btn {
    margin: auto;
    background-color: pink;
    text-align: center;
    width: 120px;
    font-size: 12px;
    padding: 13px;
}

.content .btn:hover {
    background-color: hotpink;
    transition: 0.8s;
    cursor: pointer;
}
.content .btn a{
    text-decoration: none;
    color: black;
}
.content .kategori{
    width: 100%;
    height: 100%;
    text-align: center;
}
.kategori a{
    text-decoration: none;
    font-size: 50px;
    color: hotpink;
    margin: 100px;
}
.boy{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(Gambar/kategori.jpg);
    opacity: 0.3;
}
.boy a{
    writing-mode: vertical-rl;
    margin: auto;
    padding: 30%;
    font-size: 100px;
}
.boy:hover, .boy a:hover{
    color: black;
    opacity: 100%;
    transition: 1s;
}
.girl{
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(Gambar/kategori.jpg);
    background-position: right;
    opacity: 0.3;
}
.girl a{
    writing-mode: vertical-rl;
    margin: auto;
    padding: 30%;
    font-size: 100px;
}
.girl:hover, .girl a:hover{
    opacity: 100%;
    transition: 1s;
    color: black;
}

footer {
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: white;
    overflow: auto;
    line-height: 30px;
    width: 100%;
}
.social {
    font-size: 20px;
    background-color: pink;
    padding: 10px;
}
.social a{
    padding: 10px;
    color: black;
}
